

<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>Mini Udemy</title>
    <link href="~/Content/home_style.css" rel="stylesheet" />
</head>


<div class="container" id="container">

    <div class="form-container sign-in-container">
        <form  method="post" action="~/Home/Login">
            <h1>Sign in</h1>
            <span>use your account</span>
            <input type="email" placeholder="Email" name="email" />
            <input type="password" placeholder="Password" name="password" />

            <button>Sign In</button>
        </form>

    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-left">
                <button class="ghost" id="signIn">Sign In</button>
            </div>
            <div class="overlay-panel overlay-right">
                <h1>Hello, Friend!</h1>
                <p>Join us in our courses journey!</p>

                <button class="ghost" id="signUp"  onclick="@("window.location.href='" + @Url.Action("Index", "Registration") + "'");">Sign Up</button>

            </div>
        </div>
    </div>
</div>
