USE [master]
GO
/****** Object:  Database [mini_udemi]    Script Date: 9/12/2020 2:29:24 PM ******/
CREATE DATABASE [mini_udemi]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'mini_udemi', FILENAME = N'D:\mini_udemi DB\mini_udemi.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'mini_udemi_log', FILENAME = N'D:\mini_udemi DB\mini_udemi_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [mini_udemi].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [mini_udemi]
GO
/****** Object:  Table [dbo].[Course]    Script Date: 9/12/2020 2:29:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Course](
	[Crs_ID] [int] NOT NULL,
	[Crs_Name] [nvarchar](50) NULL,
	[Crs_Duration] [int] NULL,
	[Dept_Id] [int] NULL,
	[Image_Url] [varchar](100) NULL,
 CONSTRAINT [PK_Course] PRIMARY KEY CLUSTERED 
(
	[Crs_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Department]    Script Date: 9/12/2020 2:29:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department](
	[Dept_Id] [int] NOT NULL,
	[Dept_Name] [varchar](50) NULL,
	[Dept_Desc] [varchar](50) NULL,
 CONSTRAINT [PK_Department] PRIMARY KEY CLUSTERED 
(
	[Dept_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Std_Crs]    Script Date: 9/12/2020 2:29:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Std_Crs](
	[St_Id] [int] NOT NULL,
	[Crs_Id] [int] NOT NULL,
 CONSTRAINT [PK_Std_Crs] PRIMARY KEY CLUSTERED 
(
	[St_Id] ASC,
	[Crs_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 9/12/2020 2:29:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[St_Id] [int] NOT NULL,
	[St_Fname] [nvarchar](50) NULL,
	[St_Lname] [nvarchar](50) NULL,
	[St_gender] [varchar](1) NULL,
	[St_BD] [date] NULL,
	[St_Age] [int] NULL,
	[St_Email] [varchar](50) NULL,
	[St_Password] [nvarchar](50) NULL,
 CONSTRAINT [PK_Student] PRIMARY KEY CLUSTERED 
(
	[St_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [c1] UNIQUE NONCLUSTERED 
(
	[St_Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Course]  WITH CHECK ADD  CONSTRAINT [FK_Course_Department] FOREIGN KEY([Dept_Id])
REFERENCES [dbo].[Department] ([Dept_Id])
GO
ALTER TABLE [dbo].[Course] CHECK CONSTRAINT [FK_Course_Department]
GO
ALTER TABLE [dbo].[Std_Crs]  WITH CHECK ADD  CONSTRAINT [FK_Std_Crs_Course] FOREIGN KEY([Crs_Id])
REFERENCES [dbo].[Course] ([Crs_ID])
GO
ALTER TABLE [dbo].[Std_Crs] CHECK CONSTRAINT [FK_Std_Crs_Course]
GO
ALTER TABLE [dbo].[Std_Crs]  WITH CHECK ADD  CONSTRAINT [FK_Std_Crs_Student] FOREIGN KEY([St_Id])
REFERENCES [dbo].[Student] ([St_Id])
GO
ALTER TABLE [dbo].[Std_Crs] CHECK CONSTRAINT [FK_Std_Crs_Student]
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD  CONSTRAINT [c2] CHECK  ((len([St_Password])>=(8)))
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [c2]
GO
USE [master]
GO
